$primary-color: #40bfff;
$secondary-color: #bcddfe;
$accent-color: #ff4858;

$text-color: #373737;
$text-heading-color: #223263;
$text-label-color: #22262a;
$text-white-color: #fff;

$background-color-neutral: #f6f7f8;
$border-color: #e5e5e5;
$shadow-color: #9e9e9e;
