@import 'styles/_variables.scss';

.cardContainer {
  border: none !important;
  align-items: center;
  justify-content: flex-start;
  padding: 20px !important;

  .cardImgContainer {
    margin: 0 10px;
  }

  .cardImg {
    transition: transform 0.3s;
    width: 110px !important;
    height: 110px;
  }

  .cardTitle {
    font-weight: 800 !important;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $text-heading-color;
    overflow: hidden;
    text-align: center;
    flex-grow: 0;
    align-self: flex-start;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .cardPricing {
    color: $primary-color;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 18px;
    text-align: center;
  }

  @media (min-width: 768px) {
    flex-direction: row !important;

    .cardTitle,
    .cardPricing {
      text-align: left;
    }
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid $border-color;
}
