@import 'styles/_variables.scss';

.cardTitle {
  font-weight: 800 !important;
  line-height: 24px;
  height: 50px;
  letter-spacing: 0.5px;
  color: $text-heading-color;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  flex-grow: 0;
  align-self: flex-start;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardImg {
  margin: 30px auto;
  width: 150px !important;
  height: 150px;
}

.cardBody {
  background-color: $background-color-neutral;
}

.cardPricing {
  color: $primary-color;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-size: 18px;
  text-align: center;
}
