.categoryGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-gap: 20px;

  @media (min-width: 521px) {
    grid-template-columns: repeat(3, minmax(180px, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}
